@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-gray-100 text-gray-800;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
::-webkit-scrollbar {
    display: none;
}
.animate-shimmer {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.8s infinite;
  background-size: 200% 100%;
  mix-blend-mode: overlay;
}
